<div class="container-fluid card register-container">
    <h3 class="text-center">Create an account</h3>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessages.length">
        <div *ngFor="let msg of errorMessages">{{msg}}</div>
    </div>
    <div class="mb-3">
        <label for="firstName" class="form-label">First-Name </label>
        <input [(ngModel)]="userDto.firstName" type="text" class="form-control" id="firstName" placeholder="first Name">
    </div>
    <div class="mb-3">
        <label for="lastName" class="form-label">Last-Name </label>
        <input [(ngModel)]="userDto.lastName" type="lastName" class="form-control" id="lastName"
            placeholder="last Name">
    </div>
    <div class="mb-3">
        <label for="login" class="form-label">Email </label>
        <input [(ngModel)]="userDto.email" type="email" class="form-control" id="login" placeholder="Enter email">
    </div>
    <div class="mb-3">
        <label for="password">Password</label>
        <input [(ngModel)]="userDto.password" type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <!-- <div class="mb-3">
        <label for="passwordC">Confirm Password</label>
        <input type="password" class="form-control" id="passwordC" placeholder="Password">
    </div>-->
    <div class="d-flex justify-content-between mb-3">
        <button (click)="register()" type="button" class="btn btn-primary">
            <em class="fas fa-sign-in-alt">&nbsp; </em>Save Account
        </button>
        <div>
            already have an account&nbsp;<button type="button" class="btn btn-link" (click)="login()">
                Login
            </button>
        </div>
    </div>
</div>