<div class="p-3 m-lg-2">
    <h3>Transactions</h3>
    <div>
        <h5>Your account balance : {{accountBalance}} $</h5>
    </div>
    <div class="d-flex justify-content-end">

        <a [routerLink]="'/user/new-transaction'" class="btn btn-success me-3" type="submit">
            <em class="fas fa-plus"></em>&nbsp;New transaction
        </a>
    </div>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>

                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">IBAN</th>
                <th scope="col">TYPE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td scope="row">{{transaction.transactionDate}}</td>
                <td>
                    <span [class.text-warning]="transaction.type === 'TRANSFERT'"
                        [class.text-success]="transaction.type === 'DEPOSIT'">
                        {{transaction.amount}}</span>
                </td>
                <td>{{transaction.destinationIban}}</td>

                <td>
                    <span class="badge" [class.bg-warning]="transaction.type === 'TRANSFERT'"
                        [class.bg-success]="transaction.type === 'DEPOSIT'">
                        {{transaction.type}}</span>
                </td>
            </tr>

        </tbody>
    </table>
</div>